<!--
  Generated template for the GamesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ gamesTitle }}</ion-title>
    <ion-buttons end *ngIf="showMenuToggle">
      <button ion-button menuToggle end class="button button-clear">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
<!-- Generated template for the TrikyGamesComponent component -->
    <ion-grid *ngIf="!isPlayoff">
      <ion-row>
        <ion-col>
          <button ion-button full id="{{ trikyButtonId }}" color="triky-button" (click)="clickGames('triky')">TRIKY</button>
        </ion-col>
        <ion-col>
          <button ion-button full id="{{ fifaButtonId }}" color="triky-button" (click)="clickGames('fifa')">FIFA</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="card-triky" margin-bottom padding>
  	<label style="white-space: normal !important;"><ion-icon name="ios-thumbs-up"></ion-icon>Coloca tu pronostico, el los siguientes recuadros de cada partido</label>
</div>
	<div *ngIf="showGame1">
    	<ion-input type="hidden" value="{{ gameId1 }}"></ion-input>
        <div class="date">{{ date1 }}{{ gameTitle1 }}</div>
        <div margin-bottom class="card-triky">
            <ion-grid>
                <ion-row class="scores" (click)="clickTeam(gameId1, equipo1_1_id, 1,1)">
                    <ion-col><img width="42" height="28"  src="images/{{ bandera1_1 }}" /></ion-col>
                    <ion-col><label>{{ equipo1_1 }}</label></ion-col>
                    <ion-col class="selected-team">
                        <ion-item *ngIf="isFifa">{{ marcador1_1 }}</ion-item>
                        <button end ion-button round *ngIf="equipo1_1_selected"><ion-icon end ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
                    </ion-col>
                </ion-row>
                <span class="line-score"></span>
                <ion-row class="scores" (click)="clickTeam(gameId1, equipo1_2_id,1,2)">
                    <ion-col><img width="42" height="28"  src="images/{{ bandera1_2 }}"/></ion-col>
            		<ion-col><label>{{ equipo1_2 }}</label></ion-col>
                    <ion-col class="selected-team">
                        <ion-item *ngIf="isFifa">{{ marcador1_2 }}</ion-item>
                        <button end ion-button round *ngIf="equipo1_2_selected"><ion-icon end ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
                    </ion-col>
            	</ion-row>
        	</ion-grid>
    	</div>
	</div>
	
	<div *ngIf="showGame2">
	    <ion-input type="hidden" value="{{ gameId2 }}"></ion-input>
        <div class="date">{{ date2 }}{{ gameTitle2 }}</div>
        <div margin-bottom class="card-triky">
            <ion-grid>
                <ion-row class="scores" (click)="clickTeam(gameId2, equipo2_1_id,2,1)">
                    <ion-col><img width="42" height="28"  src="images/{{ bandera2_1 }}" /></ion-col>
                    <ion-col>{{ equipo2_1 }}</ion-col>
                    <ion-col class="selected-team">
                        <ion-item *ngIf="isFifa">{{ marcador2_1 }}</ion-item>
                        <button end ion-button round *ngIf="equipo2_1_selected"><ion-icon end ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
                    </ion-col>
                </ion-row>
                <span class="line-score"></span>
                <ion-row class="scores" (click)="clickTeam(gameId2, equipo2_2_id,2,1)">
                    <ion-col><img width="42" height="28"  src="images/{{ bandera2_2 }}"/></ion-col>
            		<ion-col>{{ equipo2_2 }}</ion-col>
                    <ion-col class="selected-team">
                        <ion-item *ngIf="isFifa">{{ marcador2_2 }}</ion-item>
                        <button end ion-button round *ngIf="equipo2_2_selected"><ion-icon end ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
                    </ion-col>
            	</ion-row>
            </ion-grid>
    	</div>	
	</div>
	
	<div *ngIf="showGame3">
	   <ion-input type="hidden" value="{{ gameId3 }}"></ion-input>
        <div class="date">{{ date3 }}</div>
        <div margin-bottom class="card-triky">
            <ion-grid>
                <ion-row class="scores" (click)="clickTeam(gameId3, equipo3_1_id,3,1)">
                    <ion-col><img width="42" height="28"  src="images/{{ bandera3_1 }}" /></ion-col>
                    <ion-col>{{ equipo3_1 }}</ion-col>
                    <ion-col class="selected-team">
                        <ion-item *ngIf="isFifa">{{ marcador3_1 }}</ion-item>
                        <button end ion-button round *ngIf="equipo3_1_selected"><ion-icon end ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
                    </ion-col>
                </ion-row>
                 <span class="line-score"></span>
                <ion-row class="scores" (click)="clickTeam(gameId3, equipo3_2_id,3,2)">
                    <ion-col><img width="42" height="28"  src="images/{{ bandera3_2 }}"/></ion-col>
            		<ion-col>{{ equipo3_2 }}</ion-col>
                    <ion-col class="selected-team">
                        <ion-item *ngIf="isFifa">{{ marcador3_2 }}</ion-item>
                        <button end ion-button round *ngIf="equipo3_2_selected"><ion-icon end ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
                    </ion-col>
            	</ion-row>
            </ion-grid>
    	</div>	
	</div>	
	
	<div *ngIf="showGame4">
    	<ion-input type="hidden" value="{{ gameId4 }}"></ion-input>
        <div class="date">{{ date4 }}</div>
        <div margin-bottom class="card-triky">
            <ion-grid>
                <ion-row class="scores" (click)="clickTeam(gameId4, equipo4_1_id,4,1)">
                    <ion-col><img width="42" height="28"  src="images/{{ bandera4_1 }}" /></ion-col>
                    <ion-col>{{ equipo4_1 }}</ion-col>
                    <ion-col class="selected-team">
                        <ion-item *ngIf="isFifa">{{ marcador4_1 }}</ion-item>
                        <button end ion-button round *ngIf="equipo4_1_selected"><ion-icon end ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
                    </ion-col>
                </ion-row>
                <span class="line-score"></span>
                <ion-row class="scores" (click)="clickTeam(gameId4, equipo4_2_id,4,2)">
                    <ion-col><img width="42" height="28"  src="images/{{ bandera4_2 }}"/></ion-col>
            		<ion-col>{{ equipo4_2 }}</ion-col>
                    <ion-col class="selected-team">
                        <ion-item *ngIf="isFifa">{{ marcador4_2 }}</ion-item>
                        <button end ion-button round *ngIf="equipo4_2_selected"><ion-icon end ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
                    </ion-col>
        	    </ion-row>
            </ion-grid>
    	</div>	
	</div>	
	
	
	<div *ngIf="showGame5">
    	<ion-input type="hidden" value="{{ gameId5 }}"></ion-input>
        <div class="date">{{ date5 }}</div>
        <div margin-bottom class="card-triky">
            <ion-grid>
                <ion-row class="scores" (click)="clickTeam(gameId5, equipo5_1_id,5,1)">
                    <ion-col><img width="42" height="28"  src="images/{{ bandera5_1 }}" /></ion-col>
                    <ion-col>{{ equipo5_1 }}</ion-col>
                    <ion-col class="selected-team">
                        <ion-item *ngIf="isFifa">{{ marcador5_1 }}</ion-item>
                        <button end ion-button round *ngIf="equipo5_1_selected"><ion-icon end ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
                    </ion-col>
                </ion-row>
                <span class="line-score"></span>
                <ion-row class="scores" (click)="clickTeam(gameId5, equipo5_2_id,5,2)">
                    <ion-col><img width="42" height="28"  src="images/{{ bandera5_2 }}"/></ion-col>
            		<ion-col>{{ equipo5_2 }}</ion-col>
                    <ion-col class="selected-team">
                        <ion-item *ngIf="isFifa">{{ marcador5_2 }}</ion-item>
                        <button end ion-button round *ngIf="equipo5_2_selected"><ion-icon end ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
                    </ion-col>
            	</ion-row>
            </ion-grid>
    	</div>
	</div>
	
	<div *ngIf="showGame6">
	    <ion-input type="hidden" value="{{ gameId6 }}"></ion-input>
        <div class="date">{{ date6 }}</div>
        <div margin-bottom class="card-triky">
            <ion-grid>
                <ion-row class="scores" (click)="clickTeam(gameId6, equipo6_1_id,6,1)">
                    <ion-col><img width="42" height="28" src="images/{{ bandera6_1 }}" /></ion-col>
                    <ion-col>{{ equipo6_1 }}</ion-col>
                    <ion-col class="selected-team">
                        <ion-item *ngIf="isFifa">{{ marcador6_1 }}</ion-item>
                        <button end ion-button round *ngIf="equipo6_1_selected"><ion-icon end ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
                    </ion-col>
                </ion-row>
                <span class="line-score"></span>
                <ion-row class="scores" (click)="clickTeam(gameId6, equipo6_2_id,6,2)">
                    <ion-col><img width="42" height="28"  src="images/{{ bandera6_2 }}"/></ion-col>
            		<ion-col>{{ equipo6_2 }}</ion-col>
                    <ion-col class="selected-team">
                        <ion-item *ngIf="isFifa">{{ marcador6_2 }}</ion-item>
                        <button end ion-button round *ngIf="equipo6_2_selected"><ion-icon end ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
                    </ion-col>
            	</ion-row>
            </ion-grid>
    	</div>
	</div>
	
	<div *ngIf="showGame7">
    	<ion-input type="hidden" value="{{ gameId7 }}"></ion-input>
        <div class="date">{{ date7 }}</div>
        <div margin-bottom class="card-triky">
            <ion-grid>
                <ion-row class="scores" (click)="clickTeam(gameId7, equipo7_1_id,7,1)">
                    <ion-col><img width="42" height="28"  src="images/{{ bandera7_1 }}" /></ion-col>
                    <ion-col><label>{{ equipo7_1 }}</label></ion-col>
                    <ion-col class="selected-team">
                        <ion-item *ngIf="isFifa">{{ marcador7_1 }}</ion-item>
                        <button end ion-button round *ngIf="equipo7_1_selected"><ion-icon end ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
                    </ion-col>
                </ion-row>
                <span class="line-score"></span>
                <ion-row class="scores" (click)="clickTeam(gameId7, equipo7_2_id,7,2)">
                    <ion-col><img width="42" height="28"  src="images/{{ bandera7_2 }}"/></ion-col>
            		<ion-col><label>{{ equipo7_2 }}</label></ion-col>
                    <ion-col class="selected-team">
                        <ion-item *ngIf="isFifa">{{ marcador7_2 }}</ion-item>
                        <button end ion-button round *ngIf="equipo7_2_selected"><ion-icon end ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
                    </ion-col>
            	</ion-row>
        	</ion-grid>
    	</div>
	</div>
	
	<div *ngIf="showGame8">
    	<ion-input type="hidden" value="{{ gameId8 }}"></ion-input>
        <div class="date">{{ date8 }}</div>
        <div margin-bottom class="card-triky">
            <ion-grid>
                <ion-row class="scores" (click)="clickTeam(gameId8, equipo8_1_id,8,1)">
                    <ion-col><img width="42" height="28"  src="images/{{ bandera8_1 }}" /></ion-col>
                    <ion-col><label>{{ equipo8_1 }}</label></ion-col>
                    <ion-col class="selected-team">
                        <ion-item *ngIf="isFifa">{{ marcador8_1 }}</ion-item>
                        <button end ion-button round *ngIf="equipo8_1_selected"><ion-icon end ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
                    </ion-col>
                </ion-row>
                <span class="line-score"></span>
                <ion-row class="scores" (click)="clickTeam(gameId8, equipo8_2_id,8,2)">
                    <ion-col><img width="42" height="28"  src="images/{{ bandera8_2 }}"/></ion-col>
            		<ion-col><label>{{ equipo8_2 }}</label></ion-col>
                    <ion-col class="selected-team">
                        <ion-item *ngIf="isFifa">{{ marcador8_2 }}</ion-item>
                        <button end ion-button round *ngIf="equipo8_2_selected"><ion-icon end ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
                    </ion-col>
            	</ion-row>
        	</ion-grid>
    	</div>
	</div>
</ion-content>
