page-home {
    ion-content ion-item-divider[end]{
        text-align: end;
    }
    .card-triky{
        height: 100%;
    }
    .item-divider-md{
        border-bottom: 3px solid #F89406 !important;
    }
    .blog {
        &.item-block {
            background-color: transparent;
            border-bottom: 0.55px solid #c8c7cc;
            .item-inner {
                border: none;
            }
        }
        h2 {
            font-size: 16px;
        }
    }
    .item-divider {
        ion-label {
            color: #93a0b3;
            margin-bottom: 0px;
        }
    }
    .people-group {
        section {
            background-color: #fff;
            box-shadow: 0px 0px 3px rgba(0,0,0,0.15);
             ion-avatar img {
                 margin: 0 auto;
             }
            ion-item {
                background-color: #e9ecef;
                p {
                    text-align: center;
                    color: #000;
                    padding-top: 10px;
                }
            }
            ion-label {
                margin-bottom: 0px;
            }
            button {
                box-shadow: none;
                border-top: 1px solid #e8e8e8;
                border-bottom: 1px solid #e8e8e8;
            }
        }
        .share-icon{
            margin: 0px 0px 0px 10px;
        }
    }
    .people-group .title{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 200%;
        font-weight: bold;
    }
    .entire-text{
        white-space: normal;
    }
}
.un-code .text-input-md {
    margin: 5px 8px !important;
}

.next-games .col {
    overflow: inherit;
}
.next-games .team1{
    text-align: left;
}
.next-games .team2{
    text-align: right;
}