<ion-header>
  <ion-navbar>
    <ion-title>TrikyGol</ion-title>
    <button ion-button menuToggle end class="button button-clear">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <ion-item class="no-conection" *ngIf="!isDeviceOnline">Sin conexión a internet</ion-item>
</ion-header>
<ion-content padding>
  <!--Marcador Partido-->
  <div class="headers-ion">Próximos partidos</div>
  <div padding margin-bottom text-center style="height: auto;" class="card-triky">
    <ion-grid>
      <ion-col col-12 class="score-home"> <ion-icon name="md-calendar"></ion-icon>{{ gameDate }}</ion-col>
      <ion-row *ngFor="let game of nextGames" class="next-games">
        <ion-col class="team1" col-4><img style="border-radius:4px" height="20" width="32" src="images/{{ game.flag1 }}"> {{ game.player1 }}</ion-col>
        <ion-col col-3><div><span style="font-weight:700">{{ game.score1 }}</span> : <span style="font-weight:700;">{{ game.score2 }}</span></div></ion-col>
        <ion-col class="team2" col-4> {{ game.player2 }} <img style="border-radius:4px" height="20" width="32" src="images/{{ game.flag2 }}"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!--panel de mis puntos-->
  <ion-item-group class="people-group">
  <div class="headers-ion">Puntos Ganados</div>
  <div padding margin-bottom text-center class="card-triky">
        <div class="title" end>  <ion-icon style="color:#ff9800; font-size:3.5rem" name="md-trophy"></ion-icon> Mis puntos: {{ myPoints }}</div>
  	<ion-label class="entire-text">Mis puntos total, acertados</ion-label>
</div>
<!--panel de estadisticas-->
    <ion-grid style="font-size:1.4rem;text-align:center;white-space: inherit !important;">
        <ion-row>
            <ion-col col-6>
              <div padding class="card-triky">
                <div style="white-space: normal;"># de marcadores acertados</div>
                <div style="font-size:1.9rem;padding-bottom:16px"><b>{{ scoresRight }}</b></div>
                </div>
            </ion-col>
            <ion-col col-6>
               <div padding class="card-triky">
                <div style="white-space: normal;"># de partidos  empatados</div>
                <div style="font-size:1.9rem;padding-bottom:16px"><b>{{ tieGames }}</b></div>
                </div>
            </ion-col>
            <ion-col col-6>
              <div padding class="card-triky">
                <div style="white-space: normal;"># de equipos ganadores</div>
                <div style="font-size:1.9rem;"><b>{{ winTeams }}</b></div>
                </div>
            </ion-col>
            <ion-col col-6>
              <div padding class="card-triky">
                <div style="white-space: normal;"># de equipos clasificados(x2)</div>
                <div style="font-size:1.9rem;"><b>{{ passedTeams }}</b></div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
  </ion-item-group>

<!--tabla de usuarios-->
<ion-item-group class="people-group positions">
  <div class="headers-ion">Participantes del grupo <b>{{ groupName }}</b> <img class="share-icon" width="30" height="30"  src="images/share.png" (click)="shareGroup()" /></div>
  <div padding class="card-triky">
    <div *ngIf="positionTable">
      <ion-item class="position1" *ngFor="let position of positions">{{ position.number }}
        <ion-icon class="icon-table" name="ios-medal"></ion-icon> {{ position.nombre }}
      </ion-item>
      <ion-grid>
        <ion-row class="header-table hidden">
          <ion-col col-6>Usuario</ion-col>
          <ion-col col-6>Puntos</ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row class="share-row" (click)="shareGroup()">Comparte este grupo <img class="share-icon" width="30" height="30"  src="images/share.png" /></ion-row>
      </ion-grid>
    </div>
    <div class="un-code" *ngIf="!positionTable">
        <ion-item>
          <h2>Aún no perteneces a un grupo</h2>
          <p>Introduce el grupo abajo y dale a "Entrar" para empezar a jugar</p>
          <form [formGroup]="group" (ngSubmit)="attemptJoinGroup()">
            <ion-item>
                <ion-input class="code-group" type="text" placeholder="Código" autocapitalize="none" formControlName="code"></ion-input>
            </ion-item>
            <br>
            <button ion-button full type="submit" class="button button-calm" [disabled]="!group.valid">ENTRAR</button>
          </form>
        </ion-item>
    </div>
  </div>

  </ion-item-group>
  <ion-item-group>
  </ion-item-group>
</ion-content>
