// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #eef1f5;
$alt-text-color: #93a0b3;
$navbar-color: #22af50;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:      #1FA536,
  secondary:    #32db64,
  danger:       #f53d3d,
  light:        #f4f4f4,
  dark:         #222,
  grey:         #eef1f5,
  green:        #1FA536,
  black:        #000,
  grey-light:   #e9ecef,
  triky-button: #847f79,
);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


ion-header .toolbar-background {
    background-color: #22af50 !important;
}
.toolbar-title {
    color: white !important;
}
.item-block {
    background-color: transparent !important;
}
.card-triky{
    background: #FFFFFF ;
    box-shadow: 0 2px 9px 0 rgba(180,189,189,0.29);
    border-radius: 5px;
}
page-home .people-group ion-item p {
    text-align: center;
    color: #000;
    padding-top: 3px !important;
    white-space: normal !important;
}
page-home .people-group ion-item h2 {
    text-align: center;
    color: #000;
    font-weight: bold;
    padding-top: 10px !important;
}
.entire-text,
.card-triky label{
color: #696969 !important;
}
ion-content.content {
    background-color: #eef1f5 !important;
}
.tabbar .tab-button{
    color:rgba(165, 165, 165, 0.75);
}
.tabbar .tab-button-icon{
    color:rgba(165, 165, 165, 0.75);
}
.back-button.show-back-button {
    color: white !important;
}
page-home .item-divider-md {
    border:0px !important;
}
.item-divider,page-home .item-divider-md,
.item-md-grey, .item-divider-md-grey {
    color: #000;
    background-color: transparent !important;
    border:0px !important;
    text-align:center;
}
page-home .item-divider ion-label {
    color: #606060 !important;
    margin-bottom: 0px;
}
.date,
.headers-ion{
    color: #686869 !important;
    font-size: 14px;
    padding: 8px 0 8px;
    font-weight: bold;
}
.header-table{
    color: #606060 !important;
    font-size: 13px;
    padding: 5px;
    font-weight: bold;
}
.position1{
    font-size:1.4rem !important;
}
.icon-table{
    color:#979797;
    vertical-align: middle;
    font-size: 2.3rem;
    padding: 0px 8px;
}
.label-md,.label-ios{
    margin: 0px !important;
}
.scores img{
    border-radius: 10% !important;
    height: 20px !important;
    width: 32px !important;
    margin: 0 25px;
}
.table-cla img{
    border-radius: 10% !important;
    height: 20px !important;
    width: 32px !important;
    margin-right: 10px;
}
.code-group,
.scores .text-input {
    margin: 1px 8px 1px 0 !important; 
     background: #dcdcdc;
    border: 1px solid #cacaca;
    height: 28px !important;
    width: 60px !important;
    margin-left: 10%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
}
.line-score{
    background-color:#dcdcdc;
    height:1px;
    width:100%;
}
.button-md-triky-button,
.button-ios-triky-button {
    color: #484848 !important;
     background-color: #ffffff !important;
    font-weight: bold;
    border-bottom:3px solid #fff !important;
}
page-games .selected,
page-groups .selected {
    color: #1FA536 !important;
    background-color: #fff;
    border-bottom:3px solid #1FA536 !important;
}
.button-ios {
    height: 2.5em !important;
}
.icon-bar{
  color:white;
font-size:2.7rem
}
.card-triky ion-icon {
    display: inline-block;
    font-size: 1.5em;
    padding: 0px 8px;
}
.group{
        color: white;
    background: #22af50;
    padding: 8px 15px;
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    font-size: 1.7rem;
    font-weight: bold;
}
page-groups .notifications h2{    
        background-color: #0b91ff !important;
    padding: 10px;
    color: white;
}
page-groups .notifications h2,
.header-group{    
    background-color: #ececec;
    border-radius: 10px;
}
.header-group .label{    
    font-weight: bold !important;
    font-size: 17px !important;
}
.header-group ion-icon{    
    vertical-align:middle;
    color:#2e6eff !important;
}
.claf,
.header-group span{    
         background-color: #99b1bb;
    padding: 2px 7px !important;
    border-radius: 0px !important;
    margin-right: 10px;
    color: white;
    overflow: visible;
    font-size: 13px;
}
.header-group span{    
        background-color: #3F51B5;
}
img{    
    vertical-align:middle;
}
.point-g{    
        float: right;
    font-size: 15px !important;
    background-color: transparent !important;
    color: #000 !important;
    padding: 4px 8px;
    margin-right: 10px !important;
}
.menu-inner .content{    
        background-color: #111312 !important;
        color:white !important;
}
.menu-inner .content .label{    
        color:white !important;
        padding: 20px;
}
.menu-inner .content .item-inner{    
        border-bottom: 0.55px solid #4a4a4a !important; 
}

.menu-inner .content .item-md{    
         padding-left: 0px !important;
         text-align:center;
         font-weight:bold;
}
.scroll-content {
    max-width: 450px;
    margin: 0 auto;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #ffffff !important;
    background-color: transparent;
}
.bar-buttons-md #logout{
       color: white;
    background-color: #295d3a;
    border-radius: 4px;
    padding: 10px 15px;
}
.button-icon-arrow-{
        font-size: 0.9em !important;
    vertical-align: middle;
    height: 2rem !important;
    float: right;
    text-transform: capitalize !important
}
.score-home{
    text-align: initial;
    border-bottom: 1px solid #cecece;
    padding: 0 !important;
    margin-bottom: 10px !important;
}

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
